// Descritivo   : 
//  faça um loop para somar 1+1.... 55 vezes
//  salve o resultado em temp 3
//
//  dica: utilize os temps para armazenar o contador
//        e o valor para o loop
//
// ----------------------------------

function Main.main 0

